
/* ++++++++++++++++++++++++++++++++++++++ CSS For Header,Footer And Divs ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body
{
	background-color:#222629;
	background-size: cover;
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
 
}
/*--------------------------------------------------*/

/* ---------------- Header Part ----------------------*/

#headDiv
{
	width:100%;
	float:left;
	height:140px;
	
}

#logo
{
		display:block;
		width:140px;
		height:130px;
		float:left;
		margin-top:5px;
}
#Userlogo
{
		display:block;
		width:80px;
		height:80px;
		border-radius: 50%;
		float:left;
		margin-left:5px;
		margin-top:30px;
}

#name
{
	float:left;
	width:74%;
	text-align:center;
	margin-top:20px;
	
}

#manage
{
	float:left;
	width:10%;
	margin-top:40px;
	margin-left:5px;
	
}

#title
{
	font-family:'Gabriela';
	font-size:50px;
	color:white;
	padding-left:60px;

}
#address
{
	font-size:25px;
	color:white;
	padding-left:60px;
}

#copyright
{
	font-size:15px;
	color:white;
}

/* ------------ Manage Buttons --------------------*/

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: 3AAFA9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*--------------------------------------------------*/

/* ------------------- Navigation Menu --------------------------- */

a.menu{
	text-decoration: none;
	color:white;
}

ul {
  text-align: center;
  padding: 0px 4px 0px 0px;
  width:100%;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 14px/18px sans-serif;
  width:14%;
  display: inline-block;
  margin-right: -5px;
  position: relative;
  padding: 15px 20px;
  background: #86C232;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #2B7A78;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 1500px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #61892F; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #2B7A78; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

div.bigDiv
{
	background-color:#2c2c2c;
	width:100%;
	padding:5px;
	float:left;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
/* -------------------------------------------------------------------------------------------------------------- */

/* -------------------------- Body Div ------------------------------------- */

#bodyDiv
{
	background-color:white;
	width:100%;
	float:left;
	 font-family: Arial, Helvetica, sans-serif;
	
}
#left_side {
	float: left;
	clear:none ;
	width:45%;
	
}
#right_side{
	float: right;
	clear:none ;
	width:54%;
	
} #1a1a1a
#h_line{
	border-left:2px solid black;
	height:500px;
	float:left;
	margin-top:05px;
}
/*---------------------*search bar----------------------------------------------- */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 17px;
  border: none;
}
.topnav .search_content button {
  
   
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  
}
.topnav .search_content button:hover {
  background: #ccc;
}
@media screen and (max-width: 600px) {
  .topnav .search-content {
    float: none;
  }
  .topnav input[type=text], .topnav .search button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

/* -------------------------------------------------------------------------------------------------------------- */
  table.ShowTab{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/*------------------------------------form_________________*/

#left_side{
	
	
  box-sizing: border-box;

}
 #formTab{
	border = "2"
 }








/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/