
/* ++++++++++++++++++++++++++++++++++++++ CSS For Header,Footer And Divs ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body
{
	background-color:#222629;
	background-size: cover;
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
 
}
/*--------------------------------------------------*/

/* *************************************************** Header Part *************************************************** */

#headDiv
{
	width:100%;
	float:left;
	height:140px;
	
}

#logo
{
		display:block;
		width:140px;
		height:130px;
		float:left;
		margin-top:5px;
}
#Userlogo
{
		display:block;
		width:80px;
		height:80px;
		border-radius: 50%;
		float:left;
		margin-left:5px;
		margin-top:30px;
}

#name
{
	float:left;
	width:74%;
	text-align:center;
	margin-top:20px;
	
}

#manage
{
	float:left;
	width:10%;
	margin-top:40px;
	margin-left:5px;
	
}

#title
{
	font-family:'Gabriela';
	font-size:50px;
	color:white;
	padding-left:60px;

}
#address
{
	font-size:25px;
	color:white;
	padding-left:60px;
}


/* ------------ Manage Buttons --------------------*/

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3AAFA9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*--------------------------------------------------*/



div.bigDiv
{
	background-color:#2c2c2c;
	width:100%;
	padding:5px;
	float:left;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
/* -------------------------------------------------------------------------------------------------------------- */

/* *************************************************************************************************************************************** */

/* *************************************************** Body Part *************************************************** */


/* -------------------------- Body Div ------------------------------------- */

#bodyDiv
{
	background-color:#F5F5F5;
	width:100%;
	height:550px;
	float:left;
	border: 1px solid #ccc;
	margin-top: -3px;
}

/* -------------------------------------------------------------------------------------------------------------- */

.functionlogo{
	
		display:block;
		width:100px;
		height:100px;
		/*border-radius: 20%;*/
		float:left;
		
}


.vl  /* vertical line class */
{
	  border-left: 2px solid black;
	  height: 500px;
	  float:left;
	  margin-top:05px;	  
}

div.divB{
	
	margin-top:60px;
	margin-left:370px;
	height:160px;
	width:50%;
	float:left;
	
}
div.divC{
	
	margin-top:10px;
	margin-right:150px;
	margin-left:370px;
	height:160px;
	width:50%;
	float:left;
	
}

div.divAcc{
	
	margin-top:60px;
	margin-left:470px;
	height:160px;
	width:50%;
	float:left;
	
}

div.icondiv{
	
	
	height:150px;
	width:100px;
	float:left;
	padding:10px;
	margin-left:60px;
}

/* Change color of dropdown links on hover */
.icondiv:hover {background-color: #ddd}
a{ text-decoration: none; color: black;}

h2{
	font-family:'Fendysa';
	font-size:35px;
	margin-top:50px;
	text-decoration:underline;
}
/* ------------------------------------------------------------------------------------------------------------------ */


/* *************************************************************************************************************************************** */

/* *************************************************** Footer Part *************************************************** */
#copyright
{
	font-size:15px;
	color:white;
}

/* *************************************************************************************************************************************** */

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/