
/* ++++++++++++++++++++++++++++++++++++++ CSS For Header,Footer And Divs ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body
{
	background-color:#222629;
	background-size: cover;
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
 
}
/*--------------------------------------------------*/

/* ---------------- Header Part ----------------------*/

#headDiv
{
	width:100%;
	float:left;
	height:140px;
	
}

#logo
{
		display:block;
		width:140px;
		height:130px;
		float:left;
		margin-top:5px;
}
#Userlogo
{
		display:block;
		width:80px;
		height:80px;
		border-radius: 50%;
		float:left;
		margin-left:5px;
		margin-top:30px;
}

#name
{
	float:left;
	width:74%;
	text-align:center;
	margin-top:20px;
	
}

#manage
{
	float:left;
	width:10%;
	margin-top:40px;
	margin-left:5px;
	
}

#title
{
	font-family:'Gabriela';
	font-size:50px;
	color:white;
	padding-left:60px;

}
#address
{
	font-size:25px;
	color:white;
	padding-left:60px;
}

/* ------------ Manage Buttons --------------------*/

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: 3AAFA9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*--------------------------------------------------*/

/* ------------------- Navigation Menu --------------------------- */

a.menu{
	text-decoration: none;
	color:white;
}

ul {
  text-align: center;
  padding: 0px 4px 0px 0px;
  width:100%;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 14px/18px sans-serif;
  width:17.29%;
  display: inline-block;
  margin-right: -5px;
  position: relative;
  padding: 15px 20px;
  background: #86C232;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #2B7A78;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 1500px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #61892F; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #2B7A78; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

div.bigDiv
{
	background-color:#2c2c2c;
	width:100%;
	padding:5px;
	float:left;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
/* -------------------------------------------------------------------------------------------------------------- */

/* -------------------------- Body Div ------------------------------------- */

#bodyDiv {
	background-color:#F5F5F5;
	width:100%;
	float:left;
	border: 1px solid #ccc;
}

.v_line  /* vertical line */
{
	border-left: 2px solid black;
	height: 500px;
	float:left;
	margin-top:05px;	  
}

/* -------------------------------------------------------------------------------------------------------------- */

/*++++++++++++++++++++++++++++++++++++++ Insert From ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

div.leftSide { /*Left side div (Insert From)*/
	width:44%;
	float:left;
}

div.leftSideEdit { /*Update From*/
	width:70%;
	float:left;
}

#insert {
	text-decoration: underline;
	font-weight: bold;
	margin-right:450px;
	font-size: 19px;
    font-family: cursive;
}

#update {
	text-decoration: underline;
	margin-right:600px;
	font-weight: bold;
	font-size: 18px;
    font-family: cursive;
}

form { 
	margin-top:3px;
	margin-left:7px;
	width:100%;
}

table.form {
	border-collapse: collapse;
	width:100%;
}

td {
	text-align: left;
	padding:6px;
	font-size: 14px;
}

.submit_btn {  /* insert record update record Submit button */
  	background-color:	#2B7A78;
	border: none;
	color: white;
	padding: 7px ;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	transition: 0.3s;
	cursor:pointer;
	border-radius:5px;
	width:150px;
	align:center;
	margin-left:6px;
	margin-top:-6px;
	margin-bottom: 10px;
}

.Rest_btn{  /* insert form table reset button */
	background-color:	#d93f3d;
	border: none;
	color: white;
	padding: 7px ;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	transition: 0.3s;
	cursor:pointer;
	border-radius:5px;
	width:100px;
	align:center;
	float:left;
	margin-left:300px;
	margin-top:-6px;
	margin-bottom: 10px;
}

.delt_btn{  /* update form delete button */
	background-color:	#d93f3d;
	border: none;
	color: white;
	padding: 7px ;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	transition: 0.3s;
	cursor:pointer;
	border-radius:5px;
	width:100px;
	align:center;
	margin-left:100px;
	margin-top:-6px;
	margin-bottom: 10px;
}

.cancel_btn {  /* Cancel button */
	background-color:	#3AAFA9;
	border: none;
	color: white;
	padding: 7px ;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	transition: 0.3s;
	cursor:pointer;
	border-radius:5px;
	width:100px;
	align:center;
	margin-left:6px;
	margin-top:-6px;
	margin-bottom: 10px;
}

/* Change background color of submit button on hover */
.submit_btn:hover {
	background-color: #434343;
}

/* Change background color of reset button on hover */
.Rest_btn:hover {
	background-color: #434343;
}

/* Change background color of Delete button on hover */
.delt_btn:hover {
	background-color: #434343;
}

/* Change background color of Cancel button on hover */
.cancel_btn:hover {
	background-color: #434343;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Search ------------------------------------------------------ */

div.search{ /*Search div*/
	float:left;
	width: 100%;
	margin-top:30px;
	padding-left:35px;
}

#SerchBox{  /* search input field */
	width: 99%;
	height:25px;
}

.search_Btn{  /* search btn */
	width: 20%;
	height:30px;
	float:right;
	background-color: #046ec2;
	border: none;
	color: white;
	padding: 7px ;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	transition: 0.3s;
	cursor:pointer;
	border-radius:2px;
}

/* Change background color of Search button on hover */
.search_Btn:hover {
	background-color: #434343;
}

/* -------------------------------------------------------------------------------------------------------------- */
/*++++++++++++++++++++++++++++++++++++++ View Details ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

div.RightSide { /*Right side div (View Table)*/
	width:50%;
	float:left;
}

#Table_H { 
	text-decoration: underline;
    font-family: cursive;
    margin-bottom: 4px;
    font-size: 20px;
}

div.table { 
	border-collapse: collapse;
	height:82%;
	width:100%;
	float:left;
	overflow:hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-left:40px;
    margin-top:20px;
}

.table::-webkit-scrollbar {
    display: none;
}

table#ShowTable { /* view record table */
	border-collapse: collapse;
	width:auto;
	table-layout: fixed;	
}


tr.viewTr{
	background-color: #f2f2f2;
}
.viewTr:hover {
	background-color:#e0dddc;
}

td.TblData {
	text-align: center;
	padding:6px;
	width:150px;
	font-size: 14px;
}

th
{	
	background-color: #767b8c;
	color: white;
	top: 0;
    z-index: 2;
    position: sticky;
    position: -webkit-sticky;
    text-align: center;
	padding:6px;
	width:150px;
	height:35px;
	font-size: 15px;
}


.Edit_btn {  /* view record table records edit button */
	background-color:	#d93f3d;
	border: none;
	color: white;
	padding: 7px ;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	transition: 0.3s;
	cursor:pointer;
	border-radius:5px;
	width:100px;
	align:center;
	margin-left:5px;

  
}
/* Change background color of edit button on hover */
.Edit_btn:hover {
	background-color: #434343;
}


/* ------------------------------------------------------------------------------------------------------------------ */


/* *************************************************************************************************************************************** */

/* *************************************************** Footer Part *************************************************** */
#copyright
{
	font-size:15px;
	color:white;
}

/* *************************************************************************************************************************************** */

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

